* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6f9;
  font-family: "Segoe UI", sans-serif;
  color: #333;
}

#root {
  min-height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

input,
select {
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
}